* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root{
    /* Colores Inicio */
    /* Main colors */
    --i-primary-color: rgb(34, 133, 175);
    --i-secondary-color: rgb(60, 185, 166);
    --i-secondary-color-hover: rgba(60, 185, 166, .2);
    --i-white-color: rgb(255, 255, 255);
    --main-gradient: linear-gradient(90deg, var(--i-primary-color), var(--i-secondary-color));

    /* Background */
    --i-bg-light: rgb(242, 242, 242);

    /* Text colors */
    --i-text-light: rgb(242, 242, 242);
    --i-text-black: rgb(24, 25, 26);
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--i-bg-light);
    color: var(--i-text-black);
    line-height: 1.2;
}
.inicio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    padding: 0 20px;
    margin: 0 auto;
    flex-direction: row;
}
@media (max-width: 768px) {
    .inicio-container {
        position: relative;
    }
}

.header {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--i-bg-light);
    border-bottom: 1px solid var(--i-white-color);
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
}
.header__logo {
    background: var(--main-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    display: inline-block;
    font-weight: 700;
    font-size: 1.2rem;
}

.header__nav {
    color: var(--i-text-black);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

@media (max-width: 768px) {
    .header__nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--i-bg-light);
        padding: 20px 0;
        z-index: 100;
        align-items: center;
        border-top: 1px solid var(--i-white-color);
    }
}

@media (max-width: 768px) {
    .header__nav--visible {
        display: flex;
        margin-top: 10px;
    }
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

@media (max-width: 768px) {
    .header__nav-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.header__nav-item {
    list-style-type: none;
}

.header__nav-link {
    text-decoration: none;
    color: var(--i-text-black);
    padding: 8px 14px;
    border-radius: 100px;
    font-size: 1rem;
    transition: .4s ease;
}

.header__nav-link:hover {
    background-color: var(--i-secondary-color-hover)
}

.header__nav-button {
    padding: 8px 20px;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: 700;
    background-color: var(--i-primary-color);
    color: var(--i-text-light);
    transition: transform 0.4s ease-in-out;
}

.header__nav-button:hover {
    background: var(--main-gradient);
    filter: drop-shadow(2px 2px 4px rgba(34, 133, 175, 0.5));
}

.header__toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--i-primary-color);
    cursor: pointer;
}

@media (max-width: 768px) {
    .header__toggle {
        display: block;
    }
}

.header__controls {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar--hidden {
    transform: translateY(-100%);
}

.hero {
    height: 90svh;
    width: 100%;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), 
                      url(./assets/img/markus-spiske-hero-unsplash.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero__content {
    text-align: center;
    padding: 24px;
}

.hero__title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: var(--i-text-light);
}
.hero__title--highlight {
    background: var(--main-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    display: inline-block;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}

.hero__desc {
    font-size: 1.3rem;
    margin-bottom: 32px;
    color: var(--i-text-light);
}

.hero__btn {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 14px 28px;
    border-radius: 100px;
    color: var(--i-text-light);
    background-color: transparent;
    border: solid 2px var(--i-white-color);
    transition: .4s ease;
}

.hero__btn:hover {
    background-color: var(--i-primary-color);
}

/* INICIO Felipe CSS */
/* Reset */

*{
  box-sizing: border-box;
}

.servicios{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.servicios__title{
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2.2rem;
  color: var(--i-primary-color);
  margin: 40px;
}

.servicios__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.card__service {
  --bs-card-border-width: 2px;
  --bs-card-border-color: var(--i-bg-light);
  --bs-card-border-radius: 12px;
  --bs-card-bg: var(--i-white-color);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  width: 18rem;
  margin: 0 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
}

.card__img--top{
  border-top-left-radius: calc(0.375rem - 1px);
  border-top-right-radius: calc(0.375rem - 1px);
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 1rem 1rem;
  color: var(--i-text-black);
}

.card__title {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  height: 40px;
  color: var(--i-primary-color);
}

.card__text{
  margin-top: 0;
  margin-bottom: 1rem;
}

.servicio__btn {
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--i-primary-color);
  --bs-btn-border-width: 2px;
  --bs-btn-border-color: var(--i-primary-color);
  --bs-btn-border-radius: 0.375rem;
  display: inline-block;
  padding: 8px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: 100px;
  background-color: var(--i-white-color);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.servicio__btn:hover{
  color: var(--i-text-light);
  background-color: var(--i-primary-color);
}

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (width <= calc(700 / 16 * 1rem)) { 
  .servicios__container {
    display: flex;
      flex-direction: column;
      align-items: center;
  }

    .servicios__title{
    text-align: center;
}

  .card__service {
    margin: 10px 0;
  }

  .card__body {
    align-items: normal;
  }

  .card__title {
    margin-bottom: 1rem;
    text-align: center;
  }
 }
/* FIN Felipe CSS */
.footer {
    background-color: var(--i-primary-color);
    padding: 12px 20px;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    flex-direction: row;
}
.footer__desc {
    color: var(--i-text-light);
}